[submodule "external/MASt3R-SLAM"]
	path = external/MASt3R-SLAM
	url = https://github.com/JinRhee/MASt3R-SLAM
[submodule "external/segmast3r"]
	path = external/segmast3r
	url = https://github.com/SegMASt3R/segmast3r
[submodule "external/sam3"]
	path = external/sam3
	url = https://github.com/facebookresearch/sam3
[submodule "external/Grounded-SAM-2"]
	path = external/Grounded-SAM-2
	url = https://github.com/IDEA-Research/Grounded-SAM-2
